 {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #e9ecf1;
	font: normal small-caps normal 16px/1.4 Georgia;
}

tr:hover {
    background: #cccccc;
}

table{
    width: 10%;
    /*margin: 0px auto;
    border-collapse: collapse;
    text-align: left;*/
    margin: 0px auto;
}
img{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
  }
.header {
	/*width: 40%;
	margin: 50px auto 0px;
	border-radius: 10px 10px 0px 0px;*/
	margin: 0px auto;
	color: white;
	background: #597ba0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	padding: 5px;
	margin-bottom: 30px;
}
.content {
	/*border-radius: 0px 0px 10px 10px;*/
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	/*border-radius: 5px;*/
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #597ba0;
	border: none;
	/*border-radius: 5px;*/
}
.error {
	width: 92%; 
	/*margin: 0px auto;
	padding: 10px; 
	border: 1px solid #a94442;*/ 
	color: #cc0000; 
	/*background: #f2dede; 
	border-radius: 5px; */
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}

.profile_info div {
	display: inline-block; 
	margin: 5px;
}

.profile_info:after {
	content: "";
	display: block;
	clear: both;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    background: #800000;
}

.page_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #ffcc00;
    color: white;
}